
.arc path {
  stroke: #fff;
  
}

.summary{
  /*padding-left: 5%;*/
  padding-right: 4%;
 } 

.slice text {
  font-size: 16pt;
  font-family: Arial;
}  

.inner {
  padding-top:25px;
  padding-bottom:25px;
  padding-right:50px;
  padding-left:50px;
}


div.container {
 /*border: 1px solid #000000;*/
  overflow: auto;
  width: 100%
}

div.left {
  width: 30%;
  float: left;
}

div.right {
 /* width: 30%;
  float: right;*/
}



 /* .topright{
  		position: relative;
		right: -20px;
		float: right;
  } 
  .topright:hover { 
  		cursor: pointer;
    }
