
.arc path {
  stroke: #fff;
  
}
 .pie{
 	margin: 15px;
 	align: center;	
 } 

 .slice text {
            font-size: 16pt;
            font-family: Arial;
        }  


.container-left {  
 /*   float:left;  
    margin: 40px;*/
  border: 1px solid #000000;
  overflow: auto;
  width: 100%

}


div.container {
 /*border: 1px solid #000000;*/
  overflow: auto;
  width: 100%
}

div.left {
  width: 30%;
  float: left;
}

div.right {
  width: 30%;
  float: right;
}



 /* .topright{
  		position: relative;
		right: -20px;
		float: right;
  } 
  .topright:hover { 
  		cursor: pointer;
    }
