.load-div {
    background-image:url('/ppres/assets/loader-inf.gif');
    width: 128px;
    height: 78px;
    background-color: fff;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.arc path {
  stroke: #fff;  
}

.round-corners{
  border-radius: 15px;
}
.summary{
  padding-right: 4%;
 } 

.slice text {
  font-size: 16pt;
  font-family: Arial;
}  

.inner {
  padding-top:25px;
  padding-bottom:25px;
  padding-right:50px;
  padding-left:50px;
}

.info {
  text-align: justify;
}
div.left {
  width: 45%;
  float: left;
}

div.right {
  width: 40%;
  float: right;
}

