.arc path {
  stroke: #fff;  
}

.round-corners{
  border-radius: 15px;
}
.summary{
  padding-right: 4%;
 } 

.slice text {
  font-size: 16pt;
  font-family: Arial;
}  

.inner {
  padding-top:25px;
  padding-bottom:25px;
  padding-right:50px;
  padding-left:50px;
}
.align-right{
  text-align: -webkit-right;
}
.outer {
  margin-right: 10px;
  margin-left: 10px;
}

.info {
  text-align: justify;
}




span.border{
  border: 1px solid #000;
}


div.load-div {
    background-image:url('/ppres/assets/loader-inf.gif');
    width: 128px;
    height: 78px;
    background-color: fff;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
div.left {
  width: 45%;
  float: left;
}

div.right {
  width: 40%;
  float: right;
  text-align: right;
}

.magnify {
    position: relative;
    cursor: none
}

.magnify-large {
    position: absolute;
    display: none;
    width: 300px;
    height: 150px;

    -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
       -moz-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

}

div.tablesorterPager {
	padding: 10px 0 10px 0;
	background-color: #D6D2C2;
	text-align: center;
}
div.tablesorterPager span {
	padding: 0 5px 0 5px;
}
div.tablesorterPager input.prev {
	width: auto;
	margin-right: 10px;
}
div.tablesorterPager input.next {
	width: auto;
	margin-left: 10px;
}
div.tablesorterPager input {
	font-size: 8px;
	width: 50px;
	border: 1px solid #330000;
	text-align: center;
}
